.portfolio-title {
    color: #e6f1ff;
    font-size: 40px;
    line-height: 30px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;
}

.text-zone-portfolio {
    position: absolute;
    left: 10%;
    top: 20%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
}
.paragraph-portfolio {
    color: #64ffda;
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
}

